<launch>
  <!-- Declare a launch argument -->
  <arg name="namespace" default="rexrov"/>
  
  <!-- Launch the node -->
  <node pkg="uuv_assistants" exec="uuv_message_to_tf" name="ground_truth_to_tf">
    <param name="odometry_topic" value="/$(var namespace)/pose_gt"/>
    <param name="frame_id" value="world"/>
    <param name="stabilized_frame_id" value="/$(var namespace)/base_stabilized"/>
    <param name="footprint_frame_id" value="/$(var namespace)/base_footprint"/>
    <param name="child_frame_id" value="/$(var namespace)/base_link"/>
  </node>
</launch>
