import os
from launch import LaunchDescription
from launch_ros.actions import Node
from launch.actions import DeclareLaunchArgument, IncludeLaunchDescription
from launch.substitutions import LaunchConfiguration
from launch.launch_description_sources import PythonLaunchDescriptionSource
from ament_index_python.packages import get_package_share_directory

def generate_launch_description():
    return LaunchDescription([
        DeclareLaunchArgument('debug', default_value='0', description='Enable debugging'),
        DeclareLaunchArgument('x', default_value='0', description='X position'),
        DeclareLaunchArgument('y', default_value='0', description='Y position'),
        DeclareLaunchArgument('z', default_value='-20', description='Z position'),
        DeclareLaunchArgument('roll', default_value='0.0', description='Roll angle'),
        DeclareLaunchArgument('pitch', default_value='0.0', description='Pitch angle'),
        DeclareLaunchArgument('yaw', default_value='0.0', description='Yaw angle'),
        DeclareLaunchArgument('namespace', default_value='rexrov', description='Namespace for the robot'),
        DeclareLaunchArgument('use_ned_frame', default_value='false', description='Use NED frame'),
        
        Node(
            package='xacro',
            executable='xacro',
            name='robot_description',
            parameters=[{
                'robot_description': LaunchConfiguration('robot_description')
            }],
            arguments=[
                os.path.join(get_package_share_directory('uuv_descriptions'),
                             'robots', 'rexrov_oberon4.xacro'),
                '--inorder',
                f'debug:={LaunchConfiguration("debug")}',
                f'namespace:={LaunchConfiguration("namespace")}',
                f'inertial_reference_frame:={'world_ned' if LaunchConfiguration("use_ned_frame") == 'true' else 'world'}'
            ]
        ),
        
        Node(
            package='uuv_descriptions',
            executable='spawn_model',
            name='urdf_spawner',
            output='screen',
            arguments=[
                '-urdf', '-x', LaunchConfiguration('x'), '-y', LaunchConfiguration('y'),
                '-z', LaunchConfiguration('z'), '-R', LaunchConfiguration('roll'),
                '-P', LaunchConfiguration('pitch'), '-Y', LaunchConfiguration('yaw'),
                '-model', LaunchConfiguration('namespace'),
                '-param', [LaunchConfiguration("namespace"), "/robot_description"]
            ]
        ),
        
        Node(
            package='robot_state_publisher',
            executable='robot_state_publisher',
            name='robot_state_publisher',
            output='screen',
            parameters=[{
                'robot_description': [LaunchConfiguration("namespace"), "/robot_description"]
            }]
        ),
        
        Node(
            package='ros2param',
            executable='set',
            arguments=[LaunchConfiguration('namespace') + '/arms/n_arms', '1']
        ),
        
        Node(
            package='ros2param',
            executable='set',
            arguments=[LaunchConfiguration('namespace') + '/arms/names', '[oberon4]']
        ),
        
        Node(
            package='ros2param',
            executable='load',
            arguments=[
                os.path.join(get_package_share_directory('oberon4_description'), 'params', 'robot_config.yaml')
            ]
        ),
        
        IncludeLaunchDescription(
            PythonLaunchDescriptionSource(
                os.path.join(get_package_share_directory('uuv_assistants'), 'launch', 'message_to_tf.launch.py')
            ),
            launch_arguments={
                'namespace': LaunchConfiguration('namespace'),
                'world_frame': 'world',
                'child_frame_id': [LaunchConfiguration("namespace"), "/base_link"]
            }.items()
        )
    ])
